
<% content_for :mainpage do %>

<%= render "shared/user_navbar" %>

<div class="container">
    <h1>Documents</h1>
<% if user_signed_in? && (@user == current_user || current_user.relatives.where(user_id: @user).exists?) %>

  <% if @funeral.documents.attached? %>
      <% @funeral.documents.each do |document| %>
        <div style="header">
        </div>
        <div class="card-will">
          <%#= cl_image_tag(document.key, controls: true, width: 300, height: 300, crop: :limit) %>
          <%#= link_to "Download", cl_image_path(document.key), target: :blank %>
          <%= link_to document.filename, rails_blob_url(document, disposition: 'attachment'), target: :blank %>
        </div>
      <% end %>
  <br>

    <h4>Upload more Documents</h4>
    <div class="card-will">
      <%= simple_form_for @funeral do |f| %>
      <div class="container-button-right">
      <%= f.file_field :documents, multiple: true %>
      <div class="button-right">
        <%= f.submit 'Upload', class: 'button-blue' %>
      </div>
      <% end %>
    </div>
  </div>
  <br>


  <% else %>
    <div style="header">
      <h1>Upload Documents</h1>
    </div>
    <div class="card-will">
      <%= simple_form_for @funeral do |f| %>
        <div class="container-button-right">
      <%= f.file_field :documents, multiple: true %>
        <div class="button-right">
          <%= f.submit 'Upload Will', class: 'button-blue' %>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
</div>
<% else %>
  <div class="card-will">
    <p>Sorry, you are not authorized to view this page.</p>
  </div>
  <% end %>
<% end %>
