
<% content_for :mainpage do %>

<%= render "shared/user_navbar" %>

  <h1>upload a document</h1>
    <%= simple_form_for @funeral do |f| %>
    <%= f.file_field :documents, multiple: true %>
    <%= f.submit 'Upload' %>
  <% end %>

  <% if @funeral.documents.attached? %>
    <ul>
      <% @funeral.documents.each do |document| %>
      <h1>documents</h1>
        <li>
          <%= cl_image_tag(document.key, controls: true, width: 300, height: 300, crop: :limit) %>
          <%#= link_to "Download", cl_image_path(document.key), target: :blank %>
          <%= link_to document.filename, rails_blob_url(document, disposition: 'attachment'), target: :blank %>
        </li>
      <% end %>
    </ul>
  <% end %>

<% end %>
