<% content_for :mainpage do %>

<%= render "shared/user_navbar" %>

<div class="container">
  <h1>My Health</h1>

  <p><%= @funeral.health %></p>

  <%= simple_form_for(@funeral) do |f| %>
    <!-- insert these three line of code below -->
    <div class="form-inputs">
      <%= f.rich_text_area :health %>
    </div>

  <br>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <br>

  <% end %>
<br>
<br>

</div>
<% end %>
