<h1>My Funeral </h1>

<div class="button-container">
  <% if @flower.present? %>
    <%= link_to @funeral.funeral_flower.flower.name,  edit_funeral_funeral_flower_path(@funeral, @funeral.funeral_flower) %>
    <%= image_tag @funeral.flowers.first.photo %>
  <% else %>
    <%= link_to 'Add Flower', new_funeral_funeral_flower_path(@funeral) %>
  <% end %>
</div>

<div class="button-container">
  <% if @funeral_home.present? %>
    <%= link_to @funeral_home.name,  edit_funeral_funeral_home_path(@funeral, @funeral.funeral_home) %>
  <% else %>
    <%= link_to 'Add Funeral Home', new_funeral_funeral_home_path(@funeral) %>
  <% end %>
</div>

<div class="button-container">
  <% if @venue.present? %>
    <%= link_to @venue.name, edit_funeral_venue_path(@funeral, @funeral.venue) %>
  <% else %>
    <%= link_to 'Add Venue', new_funeral_venue_path(@funeral) %>
  <% end %>
</div>

<div class="button-container">
  <% if @guest.present? %>
    <%= link_to @guest.guest_count, edit_funeral_guest_path(@funeral, @funeral.guest) %>
  <% else %>
    <%= link_to 'Add Guests', new_funeral_guest_path(@funeral) %>
  <% end %>
</div>

<%= link_to "add a relative", new_funeral_relative_path(@funeral), class: "button-blue" %>

<style>
  .button-container {
    margin-top: 20px;
  }
</style>
