<h1> New funeral organization </h1>

<%= simple_form_for(@funeral) do |f| %>
  <%= f.input :flower %>
  <%= f.input :venue %>
  <%= f.input :funeral_home %>
  <%= f.input :quests %>
  <%= f.button :submit %>
<% end %>
