<h1>Funeral Showpage</h1>

<p>
  <strong>Flower:</strong>
  <% if @funeral.flowers.present? %>
    <%= link_to @funeral.flowers.name, edit_funeral_flower_path(@funeral, @funeral.flowers) %>
    <%#= link_to 'Edit Flower', edit_funeral_flower_path(@funeral, @funeral.flowers) %>
  <% else %>
    <%= link_to 'Add Flower', new_funeral_flower_path(@funeral) %>
  <% end %>
</p>

<p>
  <strong>Funeral Home:</strong>
  <% if @funeral.funeral_homes.present? %>
    <%= link_to @funeral.funeral_homes.name, edit_funeral_funeral_home_path(@funeral, @funeral.funeral_homes) %>
  <% else %>
    <%= link_to 'Add Funeral Home', new_funeral_funeral_home_path(@funeral) %>
  <% end %>
</p>

<p>
  <strong>Venue:</strong>
  <% if @funeral.venues.present? %>
    <%= link_to @funeral.venues.name, edit_funeral_venue_path(@funeral, @funeral.venues) %>
  <% else %>
    <%= link_to 'Add Venue', new_funeral_venue_path(@funeral) %>
  <% end %>
</p>

<p>
  <strong>Number of Guests</strong>
  <% if @funeral.guests.present? %>
    <%= link_to @funeral.guests.count, edit_funeral_guest_path(@funeral, @funeral.guests) %>
    <%#= link_to 'Edit Guests', edit_funeral_guest_path(@funeral, @funeral.guests) %>
  <% else %>
    <%= link_to 'Add Guests', new_funeral_guest_path(@funeral) %>
  <% end %>
</p>
