<div class="card-user">
  <div class="user-first">
    <div class="user-name">
      <h1><%= @user.name %> <%= @user.surname %></h1>
    </div>
    <div class="user-avatar card-user-avatar-bordered">
      <% if @user.avatar.attached? %>
        <%= cl_image_tag @user.avatar.key %>
      <% else %>
        <%= image_tag("avatar.png") %>
      <% end %>
    </div>
    <div class="user-background">
      <% if @user.background_picture&.attached? %>
        <%= cl_image_tag @user.background_picture.key %>
      <% else %>
        <%= image_tag("green_leaves.jpg") %>
      <% end %>
    </div>
    <div class="user-navbar">
        <% if user_signed_in? %>
          <%= link_to "Profile", userprofile_path(@user), class: "#{'active' if @active == :relative}" %>
        <% end %>

        <% if user_signed_in? %>
        <%= link_to "Health", "" %>
        <% end %>

        <% if user_signed_in? && @user.funerals.any? %>
        <% %>
        <%= link_to "Funeral", funeral_path(@user.funerals.first), class: "#{'active' if @active == :funeral}"  %>
        <% end %>

        <% if user_signed_in? %>
        <%= link_to "Informal Will", ""%>
        <% end %>

        <% if user_signed_in? %>
        <%= link_to "Documents", "" %>
        <% end %>

    </div>
  </div>
