<% content_for :mainpage do %>
  <%= render "components/banner" %>

  <div class="main-container">

    <% if user_signed_in? %>

    <h1>Celebrating Life and Legacy</h1>
    <h3>Discover Wishes of your Friends and Family</h3>
    <div class="cards">
      <% if @relatives2 %>
        <% @relatives2.each do |relative2| %>
          <%= link_to userprofile_path(relative2.funeral.user), class:"card-category", style: "background-image: url(#{relative2.funeral.user.avatar.attached? ? cl_image_path(relative2.funeral.user.avatar.key) : ""})" do %>
          <h2><%= relative2.funeral.user.name %></h2>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% if user_signed_in?%>
        <div class="intern">
          <h3>Invite relatives & friends you trust to share your wishes aswell</h3>
          <div style="button text-align: center;">
            <%= link_to "Invite", new_funeral_relative_path(@funeral), class: 'button-blue' %>
          </div>
        <% end %>
      </div>

      <% elsif %>
        <h1>Connect with your Family</h1>
          <br>

          <% else %>

          <h1>Register now to be prepared</h1>
          <%= link_to "Register now", new_user_session_path, class: "button-blue" %>
      <% end %>
      <br>
      <%= render "components/cardssquare" %>
    </div>
  </div>
</div>

<% end %>
