<% content_for :mainpage do %>
  <%= render "components/banner" %>

  <div class="main-container">

    <% if user_signed_in? %>
      <h1>View your loved ones</h1>

    <div class="cards">

    <% if @relatives %>
      <% @relatives.each do |relative| %>
        <%= link_to userprofile_path(relative.user.funerals.first), class:"card-category", style: "background-image: url(#{relative.user.avatar.attached? ? cl_image_path(relative.user.avatar.key) : ""})" do %>
        <h2><%= relative.user.name %></h2>
        <% end %>
      <% end %>
    <% end %>

    <% if @relatives2 %>
      <% @relatives2.each do |relative2| %>
        <%= link_to userprofile_path(relative2.id), class:"card-category", style: "background-image: url(#{relative2.funeral.user.avatar.attached? ? cl_image_path(relative2.funeral.user.avatar.key) : ""})" do %>
        <h2><%= relative2.funeral.user.name %></h2>
        <% end %>
      <% end %>
    <% end %>
  </div>


    <% elsif %>
      <h1>Connect with your Family</h1>

        <br>

        <% else %>

        <h1>Register now to be prepared</h1>
        <%= link_to "Register now", new_user_session_path, class: "button-blue" %>
    <% end %>
    <%= render "components/cardssquare" %>
  </div>

<% end %>
