<% content_for :mainpage do %>
  <%= render "components/banner" %>

  <div class="main-container">

    <% if user_signed_in? %>
      <h1>View your loved ones</h1>

      <%= link_to "add a relative", relatives_new_path, class: "button-blue" %>
        <div class="cards">

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("dad_avatar_image.jpg") %>">
            <h2><%= link_to "Paul", userprofile_path(1) %></h2>
          </div>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("grandma_avatar_image.jpg") %>">
            <h2>Paul</h2>
          </div>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("mum_avatar_image.jpg") %>">
                <h2>John</h2>
          </div>

            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("sister_image_avatar.jpg") %>">
                <h2>Miriam</h2>
          </div>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("uncleMike_avatar_image.jpg") %>">
                <h2>Lucy</h2>
          </div>
        </div>


    <% else %>
      <h1>Register now to be prepared</h1>

        <%= link_to "Register now", new_user_session_path, class: "button-blue" %>
        <br>
    <% end %>
    <%= render "components/cardssquare" %>
  </div>

<% end %>
