<% content_for :mainpage do %>
  <%= render "components/banner" %>

  <div class="main-container">

    <% if user_signed_in? && current_user.relatives.any?%>
      <h1>View your loved ones</h1>
        <div class="cards">

      <% @relatives.each do |relative| %>
          <%= link_to "#{relative.user.name}", funeral_path(relative.funeral), class:"card-category", style: "background-image: url(#{relative.user.avatar.attached? ? cl_image_path(relative.user.avatar.key) : plant.url})" %>
        <% end %>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("dad_avatar_image.jpg") %>">
            <h2>Dad</h2>
          </div>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("grandma_avatar_image.jpg") %>">
            <h2>Grandma</h2>
          </div>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("mum_avatar_image.jpg") %>">
                <h2>Mom</h2>
          </div>

            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("sister_image_avatar.jpg") %>">
                <h2>Miriam</h2>
          </div>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("uncleMike_avatar_image.jpg") %>">
                <h2>Uncle Mike</h2>
          </div>
        </div>


    <% elsif %>
      <h1>Connect with your Family</h1>

        <br>

        <% else %>

        <h1>Register now to be prepared</h1>
        <%= link_to "Register now", new_user_session_path, class: "button-blue" %>
    <% end %>
  <h1>What we have to offer</h1>
  </div>

  <%= render "components/cardssquare" %>
<% end %>
