<h1>User Profile</h1>

<p>Name: <%= current_user.name %></p>
<p>Email: <%= current_user.email %></p>
<p>Description: <%= current_user.description %></p>
<p>birthday: <%= current_user.birthday %></p>

<%= link_to "Edit Profile", edit_user_registration_path, class: 'button-blue'  %>
