<% content_for :mainpage do %>

<%= render "shared/user_navbar" %>

<div class="container">


  <div class="card-big">
    <div class="user-description">
      <h5> <%= @user.description %></h5>
    </div>
  </div>

  <div class= "card-big">

    <div class="user-birthday">
      <p><%= @user.birthday %></p>
    </div>

    <div class="user-address">
      <p><%= @user.address %></p>
    </div>
  </div>

  <div class= "card-big">
    <div class="edit-button">
      <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "button-blue" %>
      <% end %>
    </div>
  </div>
</div>

<% end %>
