<% content_for :mainpage do %>

<%= render "shared/user_navbar" %>

<div class="container">
  <h1>Profile</h1>

  <div class="card-big">
    <div class="user-description">
      <h5> <%= @user.description %></h5>
    </div>
  </div>

  <div class= "card-big">

    <div class="user-birthday">
      <p><%= @user.birthday %></p>
    </div>

    <div class="user-address">
      <p><%= @user.address %></p>
    </div>

  </div>
  <% if user_signed_in? && current_user.id == @user.id %>
    <div class= "card-big">
      <div class="edit-button">
        <%= link_to "Edit Profile", edit_user_registration_path, class: "button-blue" %>
      </div>
    </div>
  <% end %>

</div>

<% end %>
