<% content_for :mainpage do %>

<%= render "shared/user_navbar" %>

<div class="container">
  <div style="header">
    <h1>Profile</h1>
  </div>

  <% if user_signed_in? && current_user.id == @user.id %>
  <div class="intern">
    <div style="button-center">
      <%= link_to "Edit ", edit_user_registration_path, class: "button-blue" %>
    </div>
  </div>
  <% end %>

  <div class="intern">
    <h5>My thoughts</h5>
    <div class="card-big">
      <div class="user-description">
        <h5> <%= @user.description %></h5>
      </div>
    </div>
  </div>


  <div class="intern">
    <h5>My details</h5>
    <div class= "card-big">
      <div class="user-birthday">
        <p>Birthday: <%= @user.birthday %></p>
      </div>

      <div class="user-address">
        <p>Adress: <%= @user.address %></p>
        <p>Email: <%= @user.email %></p>
      </div>
    </div>
  </div>

  <% if user_signed_in? && current_user.id == @user.id %>
  <div class="intern">
    <h3>Invite relatives & friends you trust to share your wishes</h3>
    <div style="button text-align: center;">
      <%= link_to "Invite", new_funeral_relative_path(@funeral), class: 'button-blue' %>
    </div>
  </div>
  <% end %>

<br>

  <% if @relatives %>
  <h1>Those are the loved ones you entrusted</h1>
    <div class="cards">
        <% @relatives.each do |relative| %>
          <%= link_to userprofile_path(relative.user), class:"card-category", style: "background-image: url(#{relative.user.avatar.attached? ? cl_image_path(relative.user.avatar.key) : ""})" do %>
          <h2><%= relative.user.name %></h2>
            <% end %>
          <% end %>
      </div>
    </div>
  <% end %>

</div>

<br>
<br>
<% end %>
