<!DOCTYPE html>
<html>
  <head>
    <title>Takecare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <% if content_for?(:subpage) %>
      <div class="subpage-container">
        <%= yield %>
      </div>
    <% else %>
      <div class="main-container">
        <%= yield %>
      </div>
    <% end %>
    <%= render "shared/footer" %>
  </body>
</html>

<%# don´t forget! <% content_for :subpage %>
<%# <% end %>
